on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Generate a Random Number
        id: random_number
        run: |
          echo "RANDOM_NUMBER_VAR=$(shuf -i 1-100 -n 1)" >> "$GITHUB_ENV"
      - name: Print The Random Number
        run: |
          echo "The random number is $RANDOM_NUMBER_VAR"
      - name: Build Project
        run: |
          echo "Building Project ..."
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run Tests
        run: |
          echo "Running tests on Project ..."
