on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Project
        run: |
          echo "Building Project ..."
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run Tests
        needs: build
        run: |
          echo "Running tests on Project ..."
